.about{
    text-align: center;
}

.about__container {

  margin: 50px auto;
  max-width: 800px;
  display: flex;
  gap: 50px;
}

.photo {
  max-width: 25%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
}

.licenceNumber {
 text-align: center;
 
}